.form-table th {
    font-weight: bold;
}

.form-table td {
    padding-bottom: 10px;
}

table.fixed {
    table-layout: auto !important;
}


.action-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

/* General styles for the table */
.table-responsive {
    width: 100%;
    overflow-x: auto;
    /* Allow horizontal scrolling on smaller screens */
    -webkit-overflow-scrolling: touch;
}

/* Style for the table itself */
.table-responsive table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

.table-responsive th,
.table-responsive td {
    padding: 10px 15px;
    text-align: left;
}

.table-responsive tr
{
  border-left: 1px solid #c9c9c9;
}

.table-responsive th {
    background-color: #f9f9f9;
    font-weight: bold;
}

/* Add a hover effect to rows */
.table-responsive tr:hover {
    background-color: #f1f1f1;
}

/* Mobile Styles (Excel-like behavior) */
@media (max-width: 767px) {
    .table-responsive {
        overflow-x: auto;
        /* Enable horizontal scrolling */
    }

    .table-responsive table {
        width: auto;
        /* Allow table to expand beyond viewport */
    }

    .table-responsive th,
    .table-responsive td {
        white-space: nowrap;
        /* Prevent wrapping */
        padding: 8px 10px;
        font-size: 14px;
    }

    .shortcode-column {
        display: none;
        /* Hide shortcode column on mobile */
    }

    .action-button {
        flex-direction: row;
        /* Keep buttons in a row */
        justify-content: flex-start;
        align-items: center;
    }

    .action-button a,
    .action-button input[type="submit"] {
        width: auto;
        display: inline-block;
        font-size: 12px;
        /* Display buttons inline */
    }
}

/* Desktop Styles */
@media (min-width: 1025px) {

    .table-responsive th,
    .table-responsive td {
        padding: 15px 20px;
        font-size: 16px;
    }

    .action-button {
        text-align: center;
    }
}
